body {
    margin: 0;
    background-color: #e7e0e0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;

    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    color: blue;
    font-size: 36px;
    font-weight: 900;
    text-shadow: 1px 1px #e7e0e0;
}
.num {
    background-image: url(https://images.unsplash.com/photo-1608094921359-6a7a5d414fc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG51bWJlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}
.numTrue {
    background-image: url(https://images.unsplash.com/photo-1535954906091-59dea18fac73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJ1ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}
.numFalse {
    background-image: url(https://images.unsplash.com/photo-1649196555707-0d09bf8524e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGZhbHNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}



.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;

    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    color: blue;
    font-size: 36px;
    font-weight: 900;
    text-shadow: 1px 1px #e7e0e0;
}
.time {
    background-image: url(https://images.unsplash.com/photo-1506452819137-0422416856b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHRpbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
   
}
.time0-15 {
    background-image: url(https://images.unsplash.com/37/tEREUy1vSfuSu8LzTop3_IMG_2538.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dGltZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}
.time16-30 {
    background-image: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGltZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}
.time31-45 {
    background-image: url("https://images.unsplash.com/photo-1485881697404-78678dbc4639?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHRpbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}
.time46-59 {
    background-image: url("https://images.unsplash.com/photo-1511345624864-d6cf46344e8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fHRpbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}




.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;

    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    color: rgb(45 46 238);
    font-size: 36px;
    font-weight: 900;
    text-shadow: 1px 1px #e7e0e0;
}
.seasons {
    background-image: url(https://images.unsplash.com/photo-1521624213010-9fb0f30dcd20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHNlYXNvbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}
.winter {  
    background-image: url(https://images.unsplash.com/photo-1607427045527-d58f88096e99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNlYXNvbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}
.spring {
    background-image: url(https://images.unsplash.com/photo-1617493388771-1c38b0af33d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNlYXNvbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60); 
}
.summer {
    background-image: url(https://images.unsplash.com/photo-1620434468488-7e95357dac4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNlYXNvbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}
.outemn {
    background-image: url(https://images.unsplash.com/photo-1620434468488-7e95357dac4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNlYXNvbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}