body {
    margin: 0;
    background-color: #e7e0e0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 5px solid salmon;
}
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    border: 5px solid rgb(89, 10, 246);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 400px;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    height: 400px;
    border-left: 5px solid rgb(89, 10, 246);
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 5px solid rgb(27, 26, 26);
}
