body {
    margin: 0;
    background-color: #e7e0e0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
    background-color: aquamarine;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    height: 100px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 2px solid #bdb9b9;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    min-height: 500px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 2px solid #bdb9b9;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.num {
    margin: 50px;
    text-align: center;
}
.title {
    margin: 50px;
    text-align: center;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    height: 100px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 2px solid #bdb9b9;
}